*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    font-weight: 400;
    background: url(x.jpg) ;
    background-position: center;
    background-size: cover;
}
nav{
    border-bottom: 1px solid black;
    
}
footer{
    margin: 5%;
    font-size: 10px;
    border-top: 1px solid rgb(56, 56, 56);
}
footer a{
    text-decoration: none;
    color: #000;
}
#Sad-Image{
    margin-top: 20%;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
.Slogan{
    margin-top: 60px;
   text-align: center;
}
#language {
    margin-top: 60px;
    margin-left: 20px;
}
#language select {
background-color: rgb(255, 255, 255);
}

#myLogoImage{
    height: 20px;
    width: 20px;
}
#Carte{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 10px;
    
}
#First-Title{
    margin-top: 30%;
    margin-left: 20px;
}
.text{
    text-align: justify;
    margin: 20px;
}
.logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
    
}
.logo a{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    

}

.NavBar{
    float: right;
    border-bottom: 1px solid black;
   
    
}
.NavBar ul li {
    text-decoration: none;
    display: inline;
    border-spacing: 10px;
    padding-right: 5px ;
    
  }
  .NavBar ul li a{
    color: #000;
    text-decoration: none;
    font-size: 10px

  }
  .RevoirspecificationPolice{}