*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';
    font-weight: 400;
    background: url(x.jpg) ;
    background-position: center;
    background-size: cover;
}

.logo{
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}
.logo a{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;

}

.NavBar{
    float: right;
    
}
.NavBar ul li {
    text-decoration: none;
    display: inline;
    border-spacing: 10px;
    padding-right: 5px 
  }
  .NavBar ul li a{
    color: #000;
    text-decoration: none;
  }